* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}
.contain-main {
  max-width: 50%;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 10px 0;
  align-items: center;
}
.header-logo {
  flex-shrink: 0;
}
.header-logo img {
  height: auto;
  width: 200px;
  margin-right: 100px;
  margin-left: 20px;
}
.header-nav {
  display: flex;
  gap: 30px;
}
.header-nav a {
  text-decoration: none;
  color: gray;
  font-size: 15px;
  font-weight: 500;
  padding: 20px;
}
.header-nav a:hover {
  color: rgb(204, 50, 204);
  border-bottom: 3px solid rgb(204, 50, 204);
  padding-bottom: 10px;
}
.networking-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1200px;
  margin: 20px auto;
  width: 100%;
}
.search-box {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 300px;
  width: 100%;
}
.search-icon {
  position: absolute;
  left: 10px;
}
.search-box input {
  width: 100%;
  padding: 8px 12px 8px 35px;
  border: 1px solid #bcc1ca;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}
.filter-nav {
  display: flex;
  align-items: center;
  gap: 15px;
}
.filter-label{
  font-size: 15px;
}
.filter-list{
  display: flex;
  list-style: none;
  gap: 20px;
  
}
.filter-link{
  text-decoration: none;
  color: gray;
  font-size: 15px;
  font-weight: 500;
  padding: 20px;
}
.filter-link:hover{
  color: rgb(204, 50, 204);
  border-bottom: 3px solid rgb(204, 50, 204);

}  
.alumni-section{
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}
.alumni-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  padding: 20px 0;
}
.alumni-card{
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  padding: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alumni-card:hover{
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.alumni-name{
  font-size: 1.25rem;
  color: black;
  margin: 0 0 8px 0;
  font-weight: 600;
}
.alumni-role{
  font-size: 0.95rem;
  color: #0070f3;
  font-weight: 500;
  margin: 0 0 12px 0;
  background-color: #e6f0ff;
  padding: 4px 12px;
  border-radius: 20px;
}
.alumni-location{
  font-size: 0.85rem;
  column-rule: #64748b;
  display: flex;
  align-items: center;

}
.alumni-btn{
  width: 100%;
  padding: 10px 16px;
  background-color: #CE0A86;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: auto;
}
.alumni-btn:hover{
  background-color: #c54b98;
}
